a, div{
  padding: 0;
}

header,
main,
footer {
  padding-left: 240px;
}

body {
  background: white;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

a{
  list-style-type: none;
}

#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #BCC2E2;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

/* Style Table */

#style-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#style-table td, #style-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#style-table tr:nth-child(even){background-color: #f2f2f2;}

#style-table tr:hover {background-color: #ddd;}

#style-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.change-position{
  display: flex;
  justify-content: center;
}