body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto" sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
}

.header{
    /* background-image: url(../image/bg-masthead.jpg); */
    background: linear-gradient(rgba(101, 84, 72, 0.7), rgba(101, 84, 72, 0.7)), url(../image/bg-masthead.jpg);
    /* background: linear-gradient(to right top, #313333, #434645, #565958, #6b6d6a, #81827e), url(../image/bg-masthead.jpg); */
    height: 730px;
    color: white;
    background-size: cover;
}


.row-header{
    display: flex;
    align-items: center;
    height: 120px;
    /* position: fixed; */
    /* position: fixed;
    top: 0px; */
}

.header .title-header{
    display: block;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    color: #7e7d7d;
}

.header .title-header:hover{
    color: rgb(207, 200, 200);
}

.header-content a{
    text-decoration: none;
    color: #d4c3c3;
    padding-right: 15px;
}

.header-content a:hover{
    color: rgb(245, 235, 235);
}

.header-content{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}

.slogan-header{
    /* padding: 0 50px; */
    margin-top: 180px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    position: relative;
}

.slogan-header .item-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.wrap-divide{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: 100px; */
}

.wrap-divide .devider{
    height: 5px;
    width: 100px;
    background-color: #f4623a;
    /* background-color: white; */
}

.slogan-content{
    margin-top: 30px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    /* position: relative; */
}


.slogan-content .item-content-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    font-size: 17.5px;
    padding-bottom: 20px;
}

.btn-xl {
    display: block;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    
}


.btn-find{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow:  2px 12px rgba(0, 0, 0, 0.3); */
}

.btn-primary:checked{
    color: black;
    background-color: #f14b1c;
}

.main{
    height: 450px;
    width: 100%;
    background-color: #f4623a;
}

/* Main */
.main{
    padding-top: 70px;
}

.slogan-header:nth-child(1){
    margin: 0;
    height: 80px;
    color: white;
}

/* Button */

.custom-button{
    margin-top: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

