body{
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: "Roboto" sans-serif; */
    height: 100vh;
    background-color: #f5f5f5;
}

.header{
    background: linear-gradient(rgba(101, 84, 72, 0.7), rgba(101, 84, 72, 0.7)), url(../image/hotels.jpg);
    /* background: linear-gradient(to right top, #313333, #434645, #565958, #6b6d6a, #81827e), url(../image/bg-masthead.jpg); */
    height: 730px;
    color: white;
    background-size: cover;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}

.navbar .navbar-brand {
    font-size: 30px;
  }
  .navbar .nav-item {
    padding: 10px 20px;
  }
  .navbar .nav-link {
    font-size: 20px;
    margin-left: 10px;
  }
  .fa-bars {
    color: #007bff;
    font-size: 30px;
  }
  
  .custom-header{
    position: fixed;
    width: 100%;
  }

.slogan-header{
    /* padding: 0 50px; */
    margin-top: 80px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    position: relative;
}

.slogan-header .item-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.wrap-divide{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: 100px; */
}

.wrap-divide .devider{
    height: 5px;
    width: 100px;
    background-color: #f4623a;
    /* background-color: white; */
}

.slogan-content{
    margin-top: 30px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    /* position: relative; */
}


.slogan-content .item-content-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    font-size: 17.5px;
    padding-bottom: 20px;
}

.btn-xl {
    display: block;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    
}


.btn-find{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow:  2px 12px rgba(0, 0, 0, 0.3); */
}

.btn-primary:checked{
    color: black;
    background-color: #f14b1c;
}

.date-book{
    margin-top: 50px;
}


@media (min-width: 540px){
    .slogan-header .item-slogan{
        margin-top: 50px;
    }

    .wrap-divide{
        margin-top: 60px;
    }

    .item:nth-child(2){
        margin-bottom: 20px;
    }

    .item:nth-child(3){
        margin-bottom: 20px;
    }
}

