body{
    font-family: "Roboto", sans-serif;
    background-image: url('../image/beach-2179183_1920.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    position: relative;
    background-color: rgb(78, 75, 75);
    padding: 1rem 1.4rem;

}

form img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%; 
    width: 75px;
    height: 75px;
    padding: 3px;
    max-width: 100%;
}

form h2{
    text-align: center;
    color: #f3f3f3;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

form input{
    display: block;
    margin: 1rem 0;
    padding: 10px 14px;
    border: none;
    outline: none;
    border-radius: 2rem;
    background-color: rgba(199, 194, 194, 0.151);
    color: white;
    font-size: 18px;
}

form button{
    padding: 8px 16px;
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 2rem 0 1rem 0; 
}

.go-back{
    font-size: 14px;
    color: rgb(190, 190, 201);
    float: right;
    text-decoration: none;
    display: block;
}

.redirect-register{
    color: rgb(190, 190, 201);
    text-decoration: none;
}