body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto" sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
}

.room-blog{
    background: linear-gradient(rgba(101, 84, 72, 0.7), rgba(101, 84, 72, 0.5)), url(../image/room/bg_room.jpg);
    height: 730px;
    color: white;
    background-size: cover;
    display: flex;
}

.main-room{
    margin-top: 50px;
}

.img-room-1{
    background-image: url(../image/room/1/1.jpg);
    height: 380px;
    background-size: cover;
}

.content-room{
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}



.content-rates{
    margin-left: 70px; 
    display: flex;   
}

.img-room-2{
    background-image: url(../image/room/1/2.jpg);
    height: 380px;
    background-size: cover;
}

.img-room-3{
    background-image: url(../image/room/1/3.jpg);
    height: 380px;
    background-size: cover;
}

.img-room-4{
    background-image: url(../image/room/2/5.jpg);
    height: 380px;
    background-size: cover;
}

.img-room-5{
    background-image: url(../image/room/2/6.jpg);
    height: 380px;
    background-size: cover;
}

.img-room-6{
    background-image: url(../image/room/2/7.jpg);
    height: 380px;
    background-size: cover;
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .room-list{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .room-list .content-rates{
        margin: 0;
    }

    .content-rates p{
        margin: 0 10px !important;
    }
}