body{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.switch{
    -webkit-appearance: none;
    appearance: none;
    width: 84px;
    height: 44px;
    background-color: #c6c6c6;
    border-radius: 40px;
    border: 1px solid gray;
    outline: none;
    transition: 200ms;
    position: relative;
}

.switch:checked{
    background-color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
}

.switch::before{
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    transition: 200ms;
}

.switch:checked::before{
    left: 41px;
}