body{
    font-family: "Roboto", sans-serif;
    color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.wrapper{
    display: block;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    background-color: white;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    transform: rotate(-30deg) skew(25deg) scale(.63);
    box-shadow: -4px 4px 14px rgba(0, 0, 0, .3);
}

.card{
    padding: 10px 10px 6px 10px;
    background-color: white;
    background-color: transparent;
    background-origin: 1px solid gray;
}

.card .title{
    text-align: center;
    font-size: 1.2rem;
}

.wrapper:hover .box .card{
    transform: translate(50px, -50px);
    transition: 240ms;
    background-color: rgb(247, 243, 239);
}

.wrapper:hover{
    background-color: rgb(199, 192, 192);
    /* background-color: seagreen; */
}


@media(max-width: 992px){
   .wrapper{
       grid-column: span 3;
   }

   .box{
    transform: rotate(-30deg) skew(25deg) scale(.48);
    }
}